/* * atau bintang berguna untuk meng apply ke seluruh website */
* {
    background-color: aquamarine;
}

h1,h2,h3 {
    color: red;
    background-color: black;
}

/* untuk id menggunakan # di awal lalu tulis  lah id nya */
#list1 {
    color: blueviolet;
}
#list2 {
    color: purple;
}
#list3 {
    color: crimson;
}

/* untuk Atribut class gunakan titik . setelah itu isi class nya */
.mark {
    background-color: bisque;
}

/* tanda panah > digunakan untuk direct descendant */
.lorem > p {
    font-size: 16px;
    color: brown;
}

/* untuk warna transparant pake (transparent) */
section h3{
    color: black;
    background-color: transparent;
}
